@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.btn {
  background: coral;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}
canvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
