<div class="container-fluid">


    <div class="row">
        <div class="col-6 p-3">


            <script type="text/javascript" charset="utf-8">
                $(document).ready(function () {
                    $('#example').DataTable({
                        "sort": false, // выключить сортировку
                        "bLengthChange": false, // убрать меню выбора количества записей
                        "pagingType": "simple", // тип пагинации
                        "pageLength": 10, // количество отображаемых строк
                        stateSave: true, // сохранение состояния таблицы после перезагрузки страницы
                        "oLanguage": {
                            "sProcessing": "Подождите...",
                            "sLengthMenu": "Показать _MENU_ записей",
                            "sZeroRecords": "Записи отсутствуют.",
                            "sEmptyTable": "Записи отсутствуют.",
                            "sInfo": "Записи с _START_ до _END_ из _TOTAL_ ",
                            "sInfoEmpty": "Записи с 0 до 0 из 0 ",
                            "sInfoFiltered": "(в _MAX_)",
                            "sInfoPostFix": "",
                            "sSearch": "Поиск: ",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sPrevious": "Предыдущая",
                                "sNext": "Следующая",
                                "sLast": "Последняя"
                            }
                        }
                    });
                });
            </script>

            <table id="example" class="table table-sm table-hover small" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Имя</th>
                        <th>Версия</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Буклет</td>
                        <td><a href="https://pdfobject.com/pdf/sample-3pp.pdf" class="embed-link">Click this link to
                                embed the first PDF ("sample-3pp.pdf").</a></td>
                        <td>Офсет</td>
                        <td>$320,800</td>
                    </tr>
                    <tr>
                        <td>Буклет</td>
                        <td><a href="https://pdfobject.com/pdf/sample.pdf" class="embed-link">Click this link to embed the second PDF
                    ("sample.pdf").</a></td>
                        <td>Цифра</td>
                        <td>$170,750</td>
                    </tr>
                    <tr>
                        <td>Буклет</td>
                        <td><a href="https://disk.yandex.ru/i/gJNgsyL8dtZxyg">https://disk.yandex.ru/i/gJNgsyL8dtZxyg</a></td>
                        <td>San Francisco</td>
                        <td>$86,000</td>
                    </tr>
                    <tr>
                        <td>Буклет</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>$433,060</td>
                    </tr>
                </tbody>
            </table>





        </div>

        <div class="col-6 p-3">
            <div id="results" class="success my-2">Документ успешно открыт</div>
            <div id="pdf" class="pdfobject-container"><embed
                    src="main.pdf#navpanes=0&amp;toolbar=0&amp;statusbar=0&amp;view=FitV" class="pdfobject"
                    type="application/pdf" title="Embedded PDF" style="overflow: auto; width: 100%; height: 100%;">
            </div>

        </div>

    </div>

</div>


<script src="https://mvtregubov.github.io/DocStock/assets/js/pdfobject.min.js"></script>
<script>
    var clickHandler = function (e) {

        e.preventDefault();

        var pdfURL = this.getAttribute("href");

        var options = {
            pdfOpenParams: {
                navpanes: 0,
                toolbar: 0,
                statusbar: 0,
                view: "FitV"
            }
        };

        var myPDF = PDFObject.embed(pdfURL, "#pdf", options);

        var el = document.querySelector("#results");
        el.setAttribute("class", (myPDF) ? "success" : "fail");
        // el.innerHTML = (myPDF) ? "PDFObject successfully embedded '" + pdfURL + "'!" : "Uh-oh, the embed didn't work.";
        el.innerHTML = (myPDF) ? "Документ успешно открыт" : "Ой, не открывается";

    };

    var a = document.querySelectorAll(".embed-link");

    for (var i = 0; i < a.length; i++) {
        a[i].addEventListener("click", clickHandler);
    }
</script>
