<div class="container-fluid">
    <div class="row">
        <div class="col-6 p-3 mx-auto">
            <script type="text/javascript" charset="utf-8">
                $(document).ready(function () {
                    $('#example').DataTable({
                        "sort": false, // выключить сортировку
                        "bLengthChange": false, // убрать меню выбора количества записей
                        "pagingType": "simple", // тип пагинации
                        "pageLength": 10, // количество отображаемых строк
                        stateSave: true, // сохранение состояния таблицы после перезагрузки страницы
                        "oLanguage": {
                            "sProcessing": "Подождите...",
                            "sLengthMenu": "Показать _MENU_ записей",
                            "sZeroRecords": "Записи отсутствуют.",
                            "sEmptyTable": "Записи отсутствуют.",
                            "sInfo": "Записи с _START_ до _END_ из _TOTAL_ ",
                            "sInfoEmpty": "Записи с 0 до 0 из 0 ",
                            "sInfoFiltered": "(в _MAX_)",
                            "sInfoPostFix": "",
                            "sSearch": "Поиск: ",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "Первая",
                                "sPrevious": "Предыдущая",
                                "sNext": "Следующая",
                                "sLast": "Последняя"
                            }
                        }
                    });
                });
            </script>
            <table id="example" class="table table-sm table-hover small" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Ключи</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0001">дом, фиэ, модуль, лайт</a></td><td>09.09.2021</td></tr>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0002">обсерватор на 50 мест, модуль</a></td><td>04.05.2020</td></tr>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0003">ахтюбинск, севастополь, поселок, модуль</a></td><td>21.01.2020</td></tr>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0004">военный городок, учебный центр, поселок, модуль</a></td><td>28.05.2019</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0005">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0006">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0007">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0008">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0009">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0010">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0011">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0012">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0013">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0014">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0015">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0016">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0017">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0018">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0019">XXXXXXX</a></td><td>XXXXXXX</td>
                    <tr><td><a href="https://mvtregubov.github.io/DocStock/assets/ris/0020">XXXXXXX</a></td><td>XXXXXXX</td>
                   </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
