@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap');
* {font-family: 'IBM Plex Sans', sans-serif !important;}

:root {
  --color-dark: #1a1b22;
}

* a {transition: 1s; text-decoration: none;}
* a {color: var(--color-dark);}
* a:hover {color: #ef3f23;}

{scrollbar-width:thin;scrollbar-color: var(--color-dark) var(--color-dark)}::-webkit-scrollbar{width:6px;height:6px}::-webkit-scrollbar-track{background:#fff}::-webkit-scrollbar-thumb{background-color:var(--color-dark); border:1px solid var(--color-dark)}

.bg-podlozhka {background: #dbdbdb; color: var(--color-dark)}
.bg-menu {background: var(--color-dark)}

body {color: var(--color-dark)}

small {display: block; color: rgba(100,100,100,.55);}
small:before {content: "По материалам: ";}

.sitewarning {transition: 2s;}
.sitewarning {color: #b5b5b5; font-size: .75rem;}
.sitewarning:hover {color: var(--color-dark)}

.prettyprint {margin: 25px 0;}

xmp {
  margin: 0 !important;
}

/* Календарь */
#calendar4 tbody td:nth-child(1) {
  background-color: rgba(103, 103, 103, .1);
}
#calendar4 tbody td:nth-child(n+7) {
  color: rgb(231, 140, 92);
}