body {height: 100%; background-color: #f1f1f1;}

@media (min-width: 1200px) {
    .container{
        max-width: 720px;
    }
}

.cicle {
display: inline-block;
width: 10px; 
height: 10px;
border-radius: 50%;
margin: 0 5px 0 0;

}
.dataTable, h1 {padding-bottom: 20px;}
.sorting_disabled {color: #b5b5b5; font-size: .85rem; font-weight: normal !important;}
.dataTables_info {color: #b5b5b5; font-size: .75rem;}

strong {display: block; padding: 10px 0;}

blockquote {
    font-weight: bold;
	padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
	border-left-color: var(--color-dark);
}

/* встраивание пдф */
.pdfobject-container {
	width: 100%;
	height: 600px;
}

.hidden { display: none; }
.success { color: #4F8A10;}
.fail { color: #D8000C;}

/* убрать подсветку форм */
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}
:focus {outline-style: none; outline-width: 0px !important; outline-color: none !important;}
