@font-face {
    font-family: 'Alexandra Zeferino Two';
    src: url('fonts/AlexandraZeferinoTwo.eot');
    src: url('fonts/AlexandraZeferinoTwo.eot?#iefix') format('embedded-opentype'),
        url('fonts/AlexandraZeferinoTwo.woff2') format('woff2'),
        url('fonts/AlexandraZeferinoTwo.woff') format('woff'),
        url('fonts/AlexandraZeferinoTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  border: none;
}
body {
  background: #141414;
  font-family: 'Rubik', sans-serif;
}
.wrap {
  position:absolute;
  width: 48%;
	bottom:0; /* добавили */
  padding: 60px 40px 0px 40px;
  /* background: linear-gradient(198deg,transparent,transparent,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)); */
  /* background: linear-gradient(to bottom left,transparent,transparent,rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)); */
}



h1 {
  font-family: 'Alexandra Zeferino Two', sans-serif !important;
  color: #e3c17c;
  -webkit-text-stroke: 1px #e3c17c;
  font-weight: normal;
	font-size: 88px;
  height: 138px;
  padding: 10px 0;
  overflow: hidden;
  line-height: 4;
  -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
  transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
/*  background: linear-gradient(90deg, #fae198, #f5af4e, #cc9446);*/
/*background: linear-gradient(90deg, #eeca83, #e3c17c, #b4965a);*/
/*  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
h2 {
/*  font-family: 'Roboto', sans-serif;*/
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  height: 240px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	overflow: hidden;
  line-height: 32;
  -webkit-transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
  margin-bottom: 30px;
  transition: line-height 0.85s cubic-bezier(0.77, 0, 0.175, 1);
}
h2 span {
text-shadow: none !important;
margin-top: 15px;
padding: 2px 10px;
line-height: 1.4;
background: rgba(180,150,90,0.8);
}
h1 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
h2 {
  margin-top: -6px;
  font-weight: 300;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.section.active h1 {
  line-height: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.section.active h2 {
  line-height: 1;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.section.active .cta {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
}
.cta {
  -webkit-transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: all 0.85s cubic-bezier(0.77, 0, 0.175, 1) 1.4s;
  display: block;
  cursor: pointer;
  width: 175px;
  height: 50px;
  position: relative;
  opacity: 0;
  transform: translateX(-30px);
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 0;
  background: transparent;
  border: solid 1px #fff;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 0;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  height: 43px;
}
