html,body{
    width: 100%;
    height: 100%;
padding:0px;
margin:0px;
}    


#panorama {
    width: 100%;
    height: 100%;
}



.custom-hotspot-info-icon{
    transition: 1s;

}

.custom-info:hover{
    transition: 1s;
    /* background-color: red; */
}


.custom-hotspot-info-icon{
    height: 40px;
    width: 40px;
    background-image: url('https://image.flaticon.com/icons/svg/813/813837.svg');
    animation: scaling 0.68s infinite alternate;
    border-radius: 50px;

}



.custom-hotspot-icon{
    height: 80px;
    width: 80px;
    background-image: url('https://image.flaticon.com/icons/svg/149/149050.svg');
    transform: rotateZ(-22deg) rotateY(45deg) rotateX(58deg) !important;
    opacity: 0.9;
    animation: scaling 0.68s infinite alternate;
    border: #0e50ff solid 2px;
    border-radius: 50px;
    box-shadow: 1px 1px 122px -55px rgba(0,0,0,0.53);
}

.custom-hotspot {
    height: 50px;
    width: 50px;
}

.custom-hotspot:hover{

}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}
div.custom-tooltip:hover span{
    visibility: visible;
}
div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}


.pnlm-load-box{
    display: none !important;
}


@-webkit-keyframes scaling {
    From {
        box-shadow: 1px 1px 22px 10px rgba(0,0,0,0);
    }
    To {
        box-shadow: 1px 1px 22px 10px rgba(50,130,255,0.5);
    }
}